.todo-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .form-block {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        input {
            padding: 10px;
        }
    }
    
    button {
        padding: 10px;
    }
}